%h1 A Line

%dl
  %dt State 
  %dd= @line.state
  %dt Cities
  %dd= "From #{@line.city} to #{@line.other_city}"
  %dt Type
  %dd= @line.line_type
  %dt Operating Level
  %dd= @line.operating_level
  
%h2 Repairs

= render @line.repairs
