%h1 A Storage Device

%dl
  %dt State 
  %dd= storage_device.state
  %dt City
  %dd= storage_device.city
  %dt Type
  %dd= storage_device.storage_device_type
  %dt Operating Level
  %dd= storage_device.operating_level
  
%h2 Repairs

= render storage_device.repairs
