%h1 A Generator

%dl
  %dt State 
  %dd= generator.state
  %dt City
  %dd= generator.city
  %dt Type
  %dd= generator.generator_type
  %dt Operating Level
  %dd= generator.operating_level
  
%h2 Repairs

= render generator.repairs

%h2 Bids

= render generator.bids

%h2 Workforce Contracts

= render generator.contracts
