%h1 A Generator

%a{:href => edit_generator_url(generator)} Edit

%dl.attributes
  %dt City
  %dd= generator.city

= render :partial => 'technical_component_instances/technical_component_instance', :locals => {:instance => generator}

- if generator.takes_bids?
  %h2 Bids

  %a{:href => new_generator_bid_url(generator)} Bid In

  .bids{:id => "#{generator.id}-bids", :rel => generator.id}
    %noscript
      %ul
        - generator.bids.each do |bid|
          %li= bid

%h2 Marginal Cost

.costs{:id => "#{generator.id}-costs", :rel => generator.id}
