%h2= "Hi #{@user}!"
- message = "You have connected to your"
- message << " #{current_user.authenticated_with.collect(&:titleize).join(" and ")}"
- message << " #{'account'.send(current_user.authenticated_with.length > 1 ? 'pluralize' : 'singularize')}."
%p= message
