%h2
  %a{:href => state_url(state)}= state.name

%a{:href => edit_state_path(state)} Edit

%dl.attributes
  %dt User
  %dd
    %a{:href => user_path(state.user)}= state.user
  %dt Map
  %dd= state.map
  %dt Country
  %dd
    %a{:href => game_url(state.game)}= state.game
  %dt Cash
  %dd= number_to_currency(state.cash, :precision => 0)
  %dt Research Budget
  %dd= number_to_currency(state.research_budget, :precision => 0)

#cities
  %h2 Cities
  = render :partial => "cities/city_summary", :collection => state.cities, :as => :city

#research_advancements
  %h2 Research Advancements
  = render :partial => "research_advancements/research_advancement_list", :collection => state.research_advancements, :as => :research_advancement

#interstate_lines
  %h2 Interstate Lines
  %a{:href => new_state_interstate_line_url(state)}
    New Interstate Line
  = render :partial => "interstate_lines/interstate_line_list", :collection => state.interstate_lines, :as => :interstate_line

%h2 Marginal Price

.prices{:id => "#{state.id}-prices", :rel => state.id}

%h2 Average Cost Curve

MW / AC in $

.curve{:id => "#{state.id}-curve", :rel => state.id}
