%h2
  %a{:href => state_url(state)}= state.name

%a{:href => edit_state_path(state)} Edit

%dl
  %dt Game
  %dd
    %a{:href => game_path(state.game)}= state.game
  %dt User
  %dd
    %a{:href => user_path(state.user)}= state.user
  %dt Map
  %dd= state.map

%dl
  %dt Research Budget
  %dd= state.research_budget

#cities
  %h2 Cities
  = render :partial => "cities/city_summary", :collection => state.cities, :as => :city

#research_advancements
  %h2 Research Advancements
  = render :partial => "research_advancements/research_advancement_list", :collection => state.research_advancements, :as => :research_advancement

#interstate_lines
  %h2 Interstate Lines
  %a{:href => new_state_interstate_line_url(state)}
    New Interstate Line
  = render :partial => "interstate_lines/interstate_line_list", :collection => state.interstate_lines, :as => :interstate_line
