%h2 A Game

- if current_game
  - if current_game != game
    %a{:href => new_game_state_url(game)} Switch to this game
  - else
    %p
      You are playing in this game.
      %a{:href => games_url} Leave this game
- else
  %a{:href => new_game_state_url(game)} Switch to this game

%h2 States

%ul
  - @game.states.each do |state|
    %li
      %a{:href => state_url(state)}= state.name

%dl
  %dt Maximum Players
  %dd= game.max_players
  %dt Speed
  %dd= game.speed
  %dt Started?
  %dd= game.started

%h2 Technical Parameters

%dl
  %dt Maximum Line Capacity
  %dd= game.max_line_capacity
  %dt Technology Cost
  %dd= game.technology_cost
  %dt Technology Reliability
  %dd= game.technology_reliability
  %dt Power Factor
  %dd= game.power_factor
  %dt Frequency
  %dd= game.frequency
  %dt Wind Speed
  %dd= game.wind_speed
  %dt Sunfall
  %dd= game.sunfall
  %dt Water Flow
  %dd= game.water_flow

%h2 Economic Parameters

%dl
  %dt Regulation Type
  %dd= game.regulation_type
  %dt Starting Capital
  %dd= game.starting_capital
  %dt Interest Rate
  %dd= game.interest_rate
  %dt Reliability Constraint
  %dd= game.reliability_constraint
  %dt Fuel Cost
  %dd= game.fuel_cost
  %dt Fuel Cost Volatility
  %dd= game.fuel_cost_volatility
  %dt Workforce Reliability
  %dd= game.workforce_reliability
  %dt Workforce Cost
  %dd= game.workforce_cost
  %dt Unionized?
  %dd= game.unionized

%h2 Environmental Parameters

%dl
  %dt Carbon Allowances
  %dd= game.carbon_allowance
  %dt Tax Credit
  %dd= game.tax_credit
  %dt Renewable Requirement
  %dd= game.renewable_requirement
  %dt Political Stability
  %dd= game.political_stability
  %dt Political Opposition
  %dd= game.political_opposition
  %dt Public Support
  %dd= game.public_support
