%dl.attributes
  %dt State 
  %dd= instance.state
  %dt Type
  %dd= instance.buildable
  %dt Operating Level
  %dd= instance.operating_level
  
%h2 Repairs
= render instance.repairs

%h2 Average Operating Level

.levels{:id => "#{instance.id}-levels", :rel => instance.id}
