!!! 5
%html
  %head
    %title Threephase
    = stylesheet_link_tag "reset"
    = stylesheet_link_tag "text"
    - if ::Rails.env == "production"
      = stylesheet_link_tag "http://cachedcommons.org/cache/960/0.0.0/stylesheets/960-min.css"
      = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/south-street/jquery-ui.css"
    - else
      = stylesheet_link_tag "uncompressed/960"
      = stylesheet_link_tag "uncompressed/jquery-ui"
    = stylesheet_link_tag "application"
    = csrf_meta_tag
  %body
    #wrapper
      .container_12
        .grid_2#logo
          %a{:href => root_url}
            %img{:src => '/images/logo.png'}
          %a{:href => root_url}
            Threephase
        %header.prefix_5.grid_5#header
          .nav
            - if current_user
              .avatarname
                - if current_user.authenticated_with.include? "twitter"
                  %img{:src => '/images/icons/twitter-mini.png'}
                - elsif current_user.authenticated_with.include? "facebook"
                  %img{:src => '/images/icons/facebook-mini.png'}
                %a{:href => user_path(current_user)}= current_user.profile[:name]
            %ul
              - if current_game
                %li
                  %a{:href => game_path(current_game)}= current_game
              - else
                %li
                  %a{:href => games_path} Join a Game
              - if current_user
                %li
                  %a{:href => logout_url} Logout
        .clear
        .grid_6#left_column
          - flash.each do |name, msg|
            .flash{:id => "flash_#{name}"}= msg
          %h2#page_title
            = yield :page_title
          = yield
          = yield :left_column
        .grid_5.prefix_1#right_column
          - if not current_user
            .oauth_providers
              %ul
                - %w(facebook twitter google).each do |name|
                  %li.oauth_provider
                    = form_for :oauth_provider, :url => authenticate_path do |f|
                      = oauth_login_hidden_input
                      %input{:name => :oauth_provider, :value => name, :src => "/images/icons/#{name}.png", :type => :image}
            = form_for :user_session, :url => authenticate_path do |f|
              %legend Or type in your OpenID address
              %input{:name => "openid_identifier"}
              %input{:type => :submit, :value => "Login"}
          = yield :right_column
        .clear
        .prefix_7.grid_5#footer
          = yield :footer

    - if ::Rails.env == "production"
      = javascript_include_tag "http://cachedcommons.org/javascripts/jquery/jquery-1.4.2-min.js"
      = javascript_include_tag "http://cachedcommons.org/cache/raphael/1.4.7/javascripts/raphael-min.js"
      = javascript_include_tag "http://cachedcommons.org/cache/g-raphael/0.4.1/javascripts/g-raphael-min.js"
      = javascript_include_tag "http://cachedcommons.org/cache/jquery-ui/1.8.4/javascripts/jquery-ui-min.js"
    - else
      = javascript_include_tag "jquery-1.4.2"
      = javascript_include_tag "jquery-ui-1.8.4"
      = javascript_include_tag "raphael"
      = javascript_include_tag "g-raphael"
    = javascript_include_tag "g.line-min"
    = javascript_include_tag :defaults
    = yield :javascript_head
