!!! 5
%html
  %head
    %title Threephase
    = csrf_meta_tag
    = stylesheet_link_tag "reset"
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults
    = javascript_include_tag "http://cachedcommons.org/javascripts/jquery/jquery-1.4.2-min.js"
    = yield :javascript_head
  %body
    - if current_user
      %ul
        %li
          %a.nice{:href => edit_self_url} Account
        %li
          %a.nice{:href => logout_url} Logout
    = yield
