!!! 5
%html
  %head
    %title= yield :title
    =render "shared/stylesheets"
    = yield :extra_stylesheets
    =render "shared/head"
    = yield :extra_head
  %body
    #wrapper
      .container_12
        .grid_2#logo
          %a{:href => root_url}
            %img{:src => '/images/logo.png'}
          %a{:href => root_url}
            Threephase
        %header.prefix_5.grid_5#header
          =render "shared/header"
        .clear
        .grid_6#left_column
          =render :partial => "shared/flash", :locals => {:flash => flash}
          %h2#page_title
            = yield :page_title
          = yield
          = yield :left_column
        .grid_5.prefix_1#right_column
          - if not current_user
            .oauth_providers
              %ul
                - %w(facebook twitter google).each do |name|
                  %li.oauth_provider
                    = form_for :oauth_provider, :url => authenticate_path do |f|
                      = oauth_login_hidden_input
                      %input{:name => :oauth_provider, :value => name, :src => "/images/icons/#{name}.png", :type => :image}
            = form_for :user_session, :url => authenticate_path do |f|
              %legend Or type in your OpenID address
              %input{:name => "openid_identifier"}
              %input{:type => :submit, :value => "Login"}
          = yield :right_column
        .clear
        .prefix_7.grid_5#footer
          = yield :footer
    =render "shared/javascript"
    = yield :extra_javascript
